#grid {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}

.cell {
  width: 1em;
  height: 1em;
  border: 1px solid gray;
}

.cell.current {
  background: yellow;
}

.cell.selected {
  background: red;
}

.cell.current.selected {
  background: orange;
}

div {
  box-sizing: border-box;
}

.centre {
  margin: auto;
}
